{{#extends 'base'}}


{{#block "content"}}

<h1>Create a New Title</h1>


<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />

    {{{form}}}
    <input type="submit" class="btn btn-primary" />


</form>






{{/block}}




{{/extends}}