{{#extends 'base'}}


{{#block "content"}}
<h1>Delete Product</h1>


<form method="POST">
<div class="alert alert-danger">Are you sure you want to delete {{title.title}}?</div>
    <input type="submit" class="btn btn-danger" value="Delete"/>
    <a href="/products" class="btn btn-success">Cancel</a>


</form>


{{/block}}



{{/extends}}