{{#extends 'base'}}

{{#block "content"}}

<div class="alert alert-danger">
    Your payment is has been cancelled while processing. Please fill in your details again!

    <div>
        <a href="/checkout/">Checkout retry</a>
    </div>

</div>



{{/block}}

{{/extends}}