{{#extends 'base'}}

{{#block "content"}}

<div class="alert alert-success">
    Your payment is processed by the system. Thank you for shopping with us!

    <div>
        <a href="/titles">Back to view products</a>
    </div>

</div>



{{/block}}

{{/extends}}